.orderList {
    position: relative;
    padding: 20px;
    border: 3px solid #88ae84;
    margin-top: 30px;
}

.orderTitle {
    position: absolute;
    top: -15px;
    left: 10px;
    margin: 0;
    background: white;
    color: #477e80;
    font-size: 22px;
}

.orderInner {
    display: flex;
    justify-content: space-evenly;
}

p {
    margin: 5px 0;
}

.orderItem {
    width: 150px;
    border-radius: 1px 30px 1px 10px;
    background: #88ae84;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.deleteBtn {
    background: url("../../assets/delete.svg") top 5px center  / 40px auto no-repeat;
    padding: 25px 5px;
    border: none;
    cursor: pointer;
}

.orderItemsName {
    text-transform: uppercase;
}